@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  scrollbar-width: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page-filter {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none; /* set to "auto" to block interactions */
  mix-blend-mode: multiply;
  transition: background-color 300ms ease, opacity 300ms ease;
}